body,
html {
   height: 100%;
   width: 100%;
   font-family: 'Archivo';
   font-size: 100%;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.tint {
   z-index: 100;
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, .5);
}

#main_content {
   height: 100vh;
   background-image: url('bg.jpg');
   background-size: cover;
   color: white;
   z-index: -99999;
   margin: 0 auto;
}

#top_layer {
   z-index: 99999;
   width: 100%;
   text-align: center;
}

.slogan {
   position: relative;
   max-width: 40%;
   left: 35%;
   text-align: left;
}

.slogan h1 {
   display: inline;
   position: relative;
   left: 0;
   font-size: 3vmax;
   font-weight: 500;
}

.full {
   height: 100vh;
}

#programs {
   background-color: #252233;
   color: white;
   width: 100vw;
}

#programs .row {
   height: 100vh;
}

#llp {
   z-index: 2;
   width: 50vw;
}

#webdev {
   z-index: 1;
}

#split_container {
   position: relative;
   width: 100%;
   height: 100vh;
   overflow: hidden;
}

.panel {
   position: absolute;
   width: 100vw;
   height: 100%;
   overflow: hidden;
}

.panel .split_content {
   position: absolute;
   width: 100vw;
   /* min-height: 45vw; */
   height: 100vh;
   color: #FFF;
}

/* .panel .description {
   width: 25%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
} */

.panel img {
   width: 100vw;
   /* height:100vh; */
}

.panel .description {
   width: 25%;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   text-align: center;
}

/* Handle. */
#split_divider {
   height: 100vh;
   position: absolute;
   display: block;
   background-color: #F19500;
   width: 1em;
   top: 0;
   left: 50%;
   z-index: 3;
}

/* Skewed. */
.skewed #split_divider {
   top: 50%;
   transform: rotate(30deg) translateY(-50%);
   height: 200%;
   -webkit-transform-origin: top;
   -moz-transform-origin: top;
   transform-origin: top;
}

.skewed #llp {
   transform: skew(-30deg);
   margin-left: -1000px;
   width: calc(50vw + 1000px);
}

.skewed #llp .split_content {
   transform: skew(30deg);
   margin-left: 1000px;
}