#home {
    height: 100vh;
    background-image: url('../../images/bg.jpg');
    background-size: cover;
    color: white;
    z-index: -99999;
    margin: 0 auto;
 }
 
 #top_layer {
    z-index: 99999;
    width: 100%;
    text-align: center;
 }
 
 .slogan {
    position: relative;
    max-width: 40%;
    left: 35%;
    text-align: left;
 }
 
 .slogan h1 {
    display: inline;
    position: relative;
    left: 0;
    font-size: 3vmax;
    font-weight: 500;
 }

 #newsletter-modal{
    text-align: center;
    color:white;
 }

 #newsletter-modal .modal-content{
   background-image: linear-gradient(to top right, #260D2A, rgb(22, 13, 42), #151751); 
 }

 #newsletter-modal .close{
    color:#F19500;
 }

 #newsletter-modal .fa {
    color:#F19500;
    font-size:150%;
 }

 #newsletter-modal a{
   text-decoration: none;
}

#newsletter-modal a:hover{
   color: white;
   text-decoration: none;
}

 #newsletter-modal-footer button{
    background-color:rgb(192, 118, 0);
 }



 /* #homepage-toast .toast-header{
   color:white;
   background-color: #F19500;
 } */