#programs {
    background: url('../../images/geometric4.jpg');
    height: 100vh;
    background-size: cover;
    color:white;
}

.row-programs {
    position: relative;
    margin:auto;
    top: 10vh;
}

#programs-carousel{
    z-index:999999;
} 

.carousel-inner{
    z-index:-99999999;
}

#programs-carousel li {
    height: 10px;
    background-color: #F19500;
} 

@media only screen and (max-width: 1200px) {
    .row-programs .section-heading{
        font-size: 3.5vh;
    }

    .program-description{
        font-size: 1.5vh;
    }

    #llp_video{
        width:85vw;
        height:30vh;
    }
}

@media only screen and (min-width: 1200px) {
    .row-programs .section-heading{
        font-size: 3vw;
    }

    .program-description{
        font-size: 1.2vw;
    }
    #llp_video{
        width:100%;
        height:50%;
    }
}