.animated_button {
  background: rgba(0, 0, 0, 0.4);
  border: none;
  position: relative;
  font-size: 1em;
  transition: 800ms ease all;
  outline: none;
  height: 5vh;
  width: 18vh;
  letter-spacing: 3px;
}

.animated_button:hover{
  background: rgba(0, 0, 0, .8);
  color: white;
}

.animated_button a:hover {
  text-decoration: none;
  color: white;
}

.animated_button:before,
.animated_button:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #F19500;
  transition: 400ms ease all;
}

.animated_button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}

.animated_button:hover:before,
.animated_button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.animated_button a{
  color:#F19500;
  text-decoration: none;
}

#top_layer a{
  text-decoration: none; 
  color: #F19500;
}

#top_layer a:hover{
  color: white;
}

