.footer{
    position: absolute;
    display:block;
    width:100vw;
    height:2.5vh;
    background: rgba(241, 149, 0, 0.884);
    left:0;
    bottom:0;
    text-align: center;
    z-index: 999;
}
.footer a, p{
    display: inline-block;
    font-size:100%;
}
.footer a{
    color: white;
    text-decoration: none;
}
