* {
   box-sizing: border-box;
}

body,
html {
   height: 100%;
   width: 100%;
   font-family: 'Archivo';
   font-size: 100%;
   scroll-behavior: smooth;
}

.fp-tableCell {
   display: block;
}

.full {
   height: 100vh;
}

.center {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.tint {
   height: 100vh;
   width: 100vw;
   position: absolute;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, .5);
   z-index: 10;
}

.spacer {
   display: block;
   height: 7vh;
}

#eboard .row {
   height: 40vh;
}

.section-heading {
   color: #F19500;
   font-weight: 900;
}

.verticalhorizontal {
   display: table-cell;
   height: 100vh;
   text-align: center;
   width: 100vw;
   vertical-align: middle;
}
