.navbar {
   z-index: 999;
   width: 100%;
   background-color: rgba(0,0,0,.7);
}

.nav-link {
   color: white;
   font-size: 1.8vmin;
}

nav ul li a {
   text-decoration: none;
   color: white;
   font-weight: 400;
   text-transform: uppercase;
   margin: 0 10px;
   letter-spacing: 3px;
}

.navbar-brand img {
   width: 10vmin;
   z-index: 999;
}

li a:hover {
   color: #F19500;
}

.navbar-toggle-icon{
   color:#F19500;
}